<h3>{{title}}</h3>

@if (users.length == 0) {
    <div class="alert alert-warning">There are no users</div>
} @else {
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>lastname</th>
                <th>username</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index) {
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.username}}</td>
                </tr>
            }
        </tbody>
    </table>
}
